/* CSS Document */
 
/*-------------------------

Basic Srtruchture

-------------------------*/

#wrapper{
	width: 960px;
	padding: 5px;
	margin: 20px auto;
}

#header{
	height: 100px;
}
#sidebar{
	float: left;
	width: 300px;
}
#content{
	float: right;
	width:600px;
}

#footer{
	clear: both;
}
/*-------------------------

Colors And Fonts
color.abode.com

#4CDE6E
#164020
#46CC65
#2C7F3F
41BF5F
-------------------------*/

body{
	color:blue;
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			background-image:url(../images/giannis.jpg);
}



#header, #sidebar, #content, #footer{
	/*background-color: #46CC65;*/
	background-color:rgba(169,9,9,0.45);
	margin-bottom: 4px;
	border: double;
	border-radius: 8px;
	border-color: grey;
	padding-left: 4px;
	padding-right: 4px;
}

/*------------------------------------

RESPONSIVE DESIGN

------------------------------------*/
@media screen and (max-width: 980px){
	#wrapper{
		width: 94%;
	}
	#content{
		width: 65%;
	}
	#sidebar{
		width: 30%;
	}
}
@media screen and (max-width: 700px){
	#content, #sidebar{
		width: auto;
		float: none;
	}
	#header{
		height: auto;
	}
}
@media screen and (max-width: 480px){
	h1{
		font-size: 24px;
	}
}
/* Phones */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 568px) {
		body{
			font-size: 40px	
		}	
		#header{
			height: auto
		}
		#content{
			width:auto
		}
		#sidebar{
			width:auto;
				clear:both
		}
		#header, #sidebar, #content, #footer {
			border-radius: 16px;
				border-width: 8px;
		}
}